.css-1ht1j8u {
    font-size: medium;
}

.css-j5r0tf {
    border: 1px solid #DCDCDC;
    padding: 1% 1% 1% 1%;
    border-radius: 5%;
}

.css-j5r0tf:hover {
    transform: scale(1.1);
    background-color: #EEEEEE;
}

.css-1r6slb0 {
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 1% 1% 1% 1%;
    border-radius: 3%
}